<nav>
    <div class="logo-container">
        <h3>JokeSuno.com</h3>
    </div>

    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">SignUp</a></li>
        <li><a href="/my-jokes">Published</a></li>
        <li><a href="/post-joke" id="postJoke-link">Post</a></li>
        <li><a href="/logout" id="logout-link">Logout</a></li>
    </ul>

    <div class="hamburger">
        <span></span><span></span><span></span>
    </div>
</nav>
